<% provide(:title, 'About Us') %>

<form method="get" action="/users">

        <p><input type="text" name="name" value="" placeholder="Username "></p>
        <!-- <p><input type="password" name="password" value="" placeholder="Password"></p> -->
        
      <input type="submit" name="commit" >